<a href="https://colab.research.google.com/github/Manojgharge07/DataScience-Mentorship-Python-Basic/blob/main/Python%20Basic_10Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions**

֍ If a group of statements is repeatedly required then it is not recommended to write these statements everytime seperately.We have to define these statements as a single unit and we can call that unit any number of times based on our requirement without rewriting. This unit is nothing but function.

֍ The main advantage of functions is code Reusability.

֍ Python supports two types of functions:

Built-in function
User defined function

Built in Functions:

The functions which are coming along with Python software automatically, are called built in functions or pre defined functions.

e.g. id(), type(), input(),eval()

User defined function:
The functions which are developed by programmer explicitly according to business requirements, are called user defined functions.

Syntax:

def function_name(parameters):

''' doc string'''

python code

return value

In [ ]:
d = "data science" #len of function
len(d)

12

In [ ]:
d= input("Enter number : ")

Enter number : 15

In [ ]:
def wish():        #define function
  print("Have a nice day!!!")

In [ ]:
wish()

Have a nice day!!!

In [ ]:
def wish ():
  print("Hello, Good Morning.")
  print("Have a nice day!!!")
wish()

Hello, Good Morning.
Have a nice day!!!

In [ ]:
def slogan():
  print("'Hard work' is the key of 'sucess'")
slogan()

'Hard work' is the key of 'sucess'

# **Parameters**

Parameters are inputs to the function. If a function contains parameters, then at the time of calling,compulsory we should provide values otherwise,otherwise we will get error.

Eg: Write a function to take name of the student as input and print wish message by name.

In [ ]:
def wish(name):
  print("Good morning,",name,"have nice day.")

In [ ]:
wish("Rajesh")

Good morning, Rajesh have nice day.

In [ ]:
wish("Sagar")

Good morning, Sagar have nice day.

In [ ]:
# Eg: Write a function to take number as input and print its square value
def squareIt(number):
  print(number*number)

In [ ]:
squareIt(7)

49

In [ ]:
squareIt(28)

784

In [ ]:
def squareIt(num):
  print(num*num)

In [ ]:
squareIt(18)

324

In [ ]:
def sqr(num):
  print(num*num)

In [ ]:
sqr(35)

1225

# **Return Statement:**

Function can take input values as parameters and executes business logic, and returns output to the caller with return statement.

Q) Write a Function to accept 2 Numbers as Input and return Sum

In [ ]:
def add(a, b):
  return a+b

In [ ]:
add (22,18)

40

In [ ]:
add(10,20)

30

In [ ]:
def sub(x,y):
  return x-y

In [ ]:
sub(548, 322)

226

In [ ]:
def multiply(m,n):
  return m*n

In [ ]:
multiply(40,7)

280

In [ ]:
print(multiply(40,7))

280

In [ ]:
"""Q) Write a Function to check whether the given Number is
  Even OR Odd?"""
def even_odd (number):
  n=int(input("Enter number : "))
  if number%2==0:
    print(number, "is the even number")
  else:
    print(number, "is the odd number")

In [ ]:
even_odd(67)

Enter number : 67
67 is the odd number

In [ ]:
even_odd(98)

Enter number : 98
98 is the even number

In [ ]:
"""Q) Write a Function to find Factorial of given Number?"""
def fact():    #using for loop
  a = int(input("enter the number : "))
  b = 1
  for i in range(1,a+1):
    b=b*i
  print(b)

In [ ]:
fact()

enter the number : 7
5040

In [ ]:
def fact(num):
    result=1
    while num>=1:
      result=result*num
      num=num-1
    return result

In [ ]:
fact(4)

24

In [ ]:
for i in range(1,9):
   print("The Factorial of",i,"is :",fact(i))

The Factorial of 1 is : 1
The Factorial of 2 is : 2
The Factorial of 3 is : 6
The Factorial of 4 is : 24
The Factorial of 5 is : 120
The Factorial of 6 is : 720
The Factorial of 7 is : 5040
The Factorial of 8 is : 40320

In [ ]:
for i in range(4,11,1):
   print("The Factorial of",i,"is :",fact(i))

The Factorial of 4 is : 24
The Factorial of 5 is : 120
The Factorial of 6 is : 720
The Factorial of 7 is : 5040
The Factorial of 8 is : 40320
The Factorial of 9 is : 362880
The Factorial of 10 is : 3628800

In [ ]:
for i in range(11,1,-1):
   print("The Factorial of",i,"is :",fact(i))

The Factorial of 11 is : 39916800
The Factorial of 10 is : 3628800
The Factorial of 9 is : 362880
The Factorial of 8 is : 40320
The Factorial of 7 is : 5040
The Factorial of 6 is : 720
The Factorial of 5 is : 120
The Factorial of 4 is : 24
The Factorial of 3 is : 6
The Factorial of 2 is : 2

# Returning Multiple Values from a Function:

In [ ]:
def sum_sub(a,b):
    sum=a+b
    sub=a-b
    return sum,sub

In [ ]:
sum_sub(250, 100)

(350, 150)

In [ ]:
def mul_div(a,b):
  mul = a*b
  div = a/b
  return mul,div

In [ ]:
mul_div(25,5)

(125, 5.0)

In [ ]:
def mul_div(a,b):
  mul = a*b
  div =int(a/b)
  print(mul,div)

In [ ]:
mul_div(24,6)

144 4

In [ ]:
x,y=sum_sub(250,100)
print("The Sum is:",x)
print("The Subtraction is:",y)

The Sum is: 350
The Subtraction is: 150

In [ ]:
m,n=mul_div(48,7)
print("The mul is:",m)
print("The div is:",n)

336 6

TypeError: ignored

# **Types of Arguments**

def f1(a,b):

-

-

f1(10,20)

a, b are formal arguments where as 10,20 are actual arguments.

There are 4 types are actual arguments are allowed in Python.

Positional Arguments

Keyword Arguments

Default Arguments

Variable length arguments

Positional Arguments

These are the arguments passed to function in correct positional order.

def sub(a, b):

print(a-b)

sub(100, 200)

sub(200, 100)

The number of arguments and position of arguments must be matched. If we change the order then result may be changed.

In [ ]:
def sum_sub(a,b):
  sum= a+b
  sub = a-b
  return sum, sub

In [ ]:
sum_sub(200,100)

(300, 100)

In [ ]:
sum_sub(100,200)

(300, -100)

# **2. Keyword Arguments:**

We can pass argument values by keyword i.e by parameter name.

In [ ]:
def wish(name,msg):
    print("Hello,",name,msg)

In [ ]:
wish(name="Akshay" ,msg="How are you?")

Hello, Akshay How are you?

In [ ]:
def wish(name,msg):
    print("Hello,",name,msg)

In [ ]:
wish(msg="Have a nice day", name="Prashant")  #position doesn't matter:

Hello, Prashant Have a nice day

# **3. Default Arguments:**

Sometimes we can provide default values for our positional arguments.

In [ ]:
def wish(name=" "):
    print("Hello",name,"Good Morning")

In [ ]:
wish("Suraj")

Hello Suraj Good Morning

In [ ]:
def omg(name=" "):
  print("Hello,",name,"he is my brother.")

In [ ]:
omg("Rohit")

Hello, Rohit he is my brother.

# **4. Variable Length Arguments:**

Sometimes we can pass variable number of arguments to our function, such type of arguments are called variable length arguments.

We can declare a variable length argument with * symbol as follows

def f1(*n):

We can call this function by passing any number of arguments including zero number.

Internally all these values represented in the form of tuple.

In [ ]:
def sum (*n):
  total = 0
  for i in n:
    total = total+i
  return total

In [ ]:
sum()

0

In [ ]:
sum(20,40,60,80)

200

In [ ]:
# We can mix variable length arguments with positional arguments.

def abc(n,*v):
  print(n)
  for i in v:
    print(i)

In [ ]:
abc(10,20,30,40,50)

10
20
30
40
50

In [ ]:
abc(10,"A",30,"B")

10
A
30
B

Note: After variable length argument,if we are taking any other arguments then we should provide values as keyword arguments.

In [ ]:
def f1(*s,n1):
    for s1 in s:
      print(s1)
    print(n1)

f1("x","y",n1=25)

x
y
25

Note: We can declare key word variable length arguments also.
We can call this function by passing any number of keyword arguments. Internally these keyword arguments will be stored inside a dictionary.

In [ ]:
def display(**kwargs):
  for i,j in kwargs.items():
    print(i,'=',j)

In [ ]:
display(x=1, y=2, z=3)

x = 1
y = 2
z = 3

# **Note: Function vs Module vs Library**

A group of lines with some name is called a function

A group of functions saved to a file, is called Module

A group of Modules is nothing but Library

Types of Variables
Python supports 2 types of variables.

Global Variables
Local Variables

In [ ]:
a=45 # global variable(defined outside the function)
b=55
def asd():
   print(a)

def asd1():
    print(b)

asd()
asd1()

45
55

Local Variables:

The variables which are declared inside a function are called local variables.

Local variables are available only for the function in which we declared it.

In [ ]:
def hi():
  a=45
  print(a)

In [ ]:
a

45

In [ ]:
"""Note: If global variable and local variable having the same name then we can access
  global variable inside a function as follows"""

a = 10#Global Variable
def f1():
    a=231 # Local Variable
    print(a)
    print(globals()['a'])
f1()

231
10

# **Recursive Function:**

A function that calls itself is known as Recursive Function.

Main advantages of recursive functions are:

We can reduce length of the code and improves readability.
We can solve complex problems very easily.
E.g.

factorial(3) = 3 * factorial(2)

= 3 2 factorial(1)

=321*factorial(0)

=321*1

=6

factorial(n) = n * factorial(n-1)

In [ ]:
'''Write a Python Function to find Factorial of given
  Number with Recursion'''

def factorial(n):
    if n==0:
      result=1
    else:
      result=n*factorial(n-1)
    return result
print("Factorial of 9 is:",factorial(9))
print("Factorial of 7 is:",factorial(7))

Factorial of 9 is: 362880
Factorial of 7 is: 5040

In [ ]:
def factorial(n):
    if n==0:
      result=1
    else:
      result=n*factorial(n-1)
    return result

In [ ]:
factorial(4)

24

In [ ]:
def fact(n):
    if n==0:
      result=1
    else:
      result=n*fact(n-1)
    return result

In [ ]:
fact(5)

120

# **Anonymous Functions:(Lambda Function)**

Sometimes we can declare a function without any name,such type of nameless functions are called anonymous functions or lambda functions.

The main purpose of anonymous function is just for instant use(i.e for one time usage)

We can define by using lambda keyword

lambda n:n*n

SyntaxoflambdaFunction:lambda argument_list:expression

Note: By using Lambda Functions we can write very concise code so that readability of the program will be improved.

In [ ]:
'Q) Write a Program to create a Lambda Function to find Square of given Number?'
a = lambda n:n*n

a(5)

25

In [ ]:
a(17)

289

In [ ]:
for i in range(3,12):
  print("SquarIt of",i,"is :", a(i))

SquarIt of 3 is : 9
SquarIt of 4 is : 16
SquarIt of 5 is : 25
SquarIt of 6 is : 36
SquarIt of 7 is : 49
SquarIt of 8 is : 64
SquarIt of 9 is : 81
SquarIt of 10 is : 100
SquarIt of 11 is : 121

In [ ]:
'''Q) Lambda Function to find Sum of 2 given Numbers'''
s = lambda a,b: a+b
print(s)

<function <lambda> at 0x7f6c98ce14d0>

In [ ]:
s = lambda a,b: a+b

In [ ]:
s(25, 40)

65

In [ ]:
'''Q) Lambda Function to find Sum of 2 given Numbers'''
s=lambda a,b:a+b
print("The Sum  of 20,40 is:",s(20,40))
print("The Sum of 80,170 is:",s(80,170))

The Sum  of 20,40 is: 60
The Sum of 80,170 is: 250

In [ ]:
'''Q) Lambda Function to find biggest of given Values'''
x = lambda a,b,c: a if a>b and a>c else b if b>c else c

In [ ]:
x(21,45,76)

76

In [ ]:
x(98, 67, 43)

98

In [ ]:
x(56,92,88)

92

Note: Lambda Function internally returns expression value and we are not required to write return statement explicitly.

We can use lambda functions very commonly with filter(), map() and reduce() functions, because these functions expect function as argument.

# **filter() Function:**

We can use filter() function to filter values from the given sequence based on some condition.

syntax: filter(function,sequence)

Where Function Argument is responsible to perform conditional check Sequence can be List OR Tuple OR String.

In [ ]:
"""Q) Program to filter only Even Numbers from the List by using
  filter() Function?"""
# Without Lambda Function:
def isEven(x):
    if x%2==0:
       return True
    else:
       return False
l=[12,25,28,45,49,64,70]
l1=list(filter(isEven,l))
print(l1)

[12, 28, 64, 70]

In [ ]:
# With Lambda Function: Getting odd and even numbers

l=[12,25,28,45,49,64,70]
l1=list(filter(lambda x:x%2==0,l))
print(l1) 
l2=list(filter(lambda x:x%2!=0,l))
print(l2)

[12, 28, 64, 70]
[25, 45, 49]

# **map() Function:**

For every element present in the given sequence,apply some functionality and generate new element with the required modification. For this requirement we should go for map() function.

Eg: For every element present in the list perform double and generate new list of doubles.

Syntax: map(function, sequence)

The function can be applied on each element of sequence and generates new sequence.

In [ ]:
# Without Lambda
l=[1,2,3,4,5]
def doubleIt(x):
    return 2*x
l1=list(map(doubleIt,l))
print(l1)#[2,4,6,8,10]

[2, 4, 6, 8, 10]

In [ ]:
# With Lambda
l=[1,2,3,4,5]
l1=list(map(lambda x:2*x,l))
print(l1) #[2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]