<a href="https://colab.research.google.com/github/Manojgharge07/DataScience-Mentorship-Python-Basic/blob/main/Python_Basics_17_Pandas_DateTime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with date and time using Pandas

In [ ]:
# create a dates dataframe

import pandas as pd

data = pd.date_range('1/1/2022', periods=7, freq='H')

data

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-01 01:00:00',
               '2022-01-01 02:00:00', '2022-01-01 03:00:00',
               '2022-01-01 04:00:00', '2022-01-01 05:00:00',
               '2022-01-01 06:00:00'],
              dtype='datetime64[ns]', freq='H')

In [ ]:
# create a dates dataframe

import pandas as pd

data  = pd.date_range('9/5/2022', periods = 10, freq = 'M')

data

DatetimeIndex(['2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31',
               '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30'],
              dtype='datetime64[ns]', freq='M')

In [ ]:
# create a dates dataframe

import pandas as pd
data = pd.date_range('2021/8/15',periods = 5, freq = 'd')
data

DatetimeIndex(['2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18',
               '2021-08-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# create a dates dataframe

import pandas as pd
data = pd.date_range('2018/8/15', periods = 5, freq = 'Y')
data

DatetimeIndex(['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31',
               '2022-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

Datetime features can be divided into two categories. The first one time moments in a period and second the time passed since a particular period. These features can be very useful to understand the patterns in the data.

Divide a given date into features â€“

pandas.Series.dt.year returns the year of the date time.

pandas.Series.dt.month returns the month of the date time.

pandas.Series.dt.day returns the day of the date time.

pandas.Series.dt.hour returns the hour of the date time.

pandas.Series.dt.minute returns the minute of the date time.

In [ ]:
#create date and time with data frame
import pandas as pd
rng = pd.DataFrame()

rng['date'] = pd.date_range('2012/4/6', periods=50, freq='D')

# Print the dates in dd-mm-yy format
print(rng[:7])

# Create features for year, month, day, hour, and minute
rng['year']= rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute

# Print the dates divided into features
rng.head(10)

        date
0 2012-04-06
1 2012-04-07
2 2012-04-08
3 2012-04-09
4 2012-04-10
5 2012-04-11
6 2012-04-12

        date  year  month  day  hour  minute
0 2012-04-06  2012      4    6     0       0
1 2012-04-07  2012      4    7     0       0
2 2012-04-08  2012      4    8     0       0
3 2012-04-09  2012      4    9     0       0
4 2012-04-10  2012      4   10     0       0
5 2012-04-11  2012      4   11     0       0
6 2012-04-12  2012      4   12     0       0
7 2012-04-13  2012      4   13     0       0
8 2012-04-14  2012      4   14     0       0
9 2012-04-15  2012      4   15     0       0

In [ ]:
#create date and time with data frame
import pandas as pd
rng = pd.DataFrame()

rng['date'] = pd.date_range('2012/4/6', periods=50, freq='Y')

# Print the dates in dd-mm-yy format
print(rng[:7])

# Create features for year, month, day, hour, and minute
rng['year']= rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute

# Print the dates divided into features
rng.head(10)

        date
0 2012-12-31
1 2013-12-31
2 2014-12-31
3 2015-12-31
4 2016-12-31
5 2017-12-31
6 2018-12-31

        date  year  month  day  hour  minute
0 2012-12-31  2012     12   31     0       0
1 2013-12-31  2013     12   31     0       0
2 2014-12-31  2014     12   31     0       0
3 2015-12-31  2015     12   31     0       0
4 2016-12-31  2016     12   31     0       0
5 2017-12-31  2017     12   31     0       0
6 2018-12-31  2018     12   31     0       0
7 2019-12-31  2019     12   31     0       0
8 2020-12-31  2020     12   31     0       0
9 2021-12-31  2021     12   31     0       0

In [ ]:
#create date and time with data frame
import pandas as pd
rng = pd.DataFrame()

rng['date'] = pd.date_range('2012/4/6', periods=50, freq='M')

# Print the dates in dd-mm-yy format
print(rng[:7])

# Create features for year, month, day, hour, and minute
rng['year']= rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute

# Print the dates divided into features
rng.head(10)

        date
0 2012-04-30
1 2012-05-31
2 2012-06-30
3 2012-07-31
4 2012-08-31
5 2012-09-30
6 2012-10-31

        date  year  month  day  hour  minute
0 2012-04-30  2012      4   30     0       0
1 2012-05-31  2012      5   31     0       0
2 2012-06-30  2012      6   30     0       0
3 2012-07-31  2012      7   31     0       0
4 2012-08-31  2012      8   31     0       0
5 2012-09-30  2012      9   30     0       0
6 2012-10-31  2012     10   31     0       0
7 2012-11-30  2012     11   30     0       0
8 2012-12-31  2012     12   31     0       0
9 2013-01-31  2013      1   31     0       0

In [ ]:
#4: To get the present time

from datetime import date

tdy = date.today()

print("Today's Date: ", tdy)

Today's Date:  2022-05-09

In [ ]:
#4: To get the present time

from datetime import date

tdy = date.today()

print("Today's Date: ", tdy)

# Yesterday date
yesterday = today - timedelta(days = 1)

print("Yesterday was: ", yesterday)

Today's Date:  2022-05-09

NameError: ignored

In [ ]:
#Current date in different formats
from datetime import date
tdy = date.today()

# dd/mm/YY
d1 = tdy.strftime('%d:%m:%y')
print('d1=', d1)

d1= 09:05:22

In [ ]:
# dd:mm:YY
d1 = tdy.strftime('%d:%m:%Y')
print('d1=', d1)

d1= 09:05:2022

In [ ]:
#month/day/year
d2 = tdy.strftime('%m/%d/%y')	
print('d2=',d2)

d2= 05/09/22

In [ ]:
#month-day-year
d3 = tdy.strftime('%M-%D-%Y')	
print('d3=',d3)

d3= 00-05/09/22-2022

In [ ]:
# dd:mm:YY
d4 = tdy.strftime('%d:%m:%y')
print('d4=', d4)

d4= 09:05:22

In [ ]:
# dd:mm:YY
d5 = tdy.strftime('%d:%b:%Y')
print('d5=', d5)

d5= 09:May:2022

## Timedelta
So far, we have seen how to create a DateTime object and how to format it. But sometimes, you might have to find the duration between two dates, which can be another very useful feature that you can derive from a dataset. This duration is, however, returned as a timedelta object.

In [5]:
# timedelta : duration between dates
from datetime import datetime, time

d1 = datetime(2022,9,23,9,25,18)
d2 = datetime(2020,9,23,12,25,18)
print(d1)
print(d2)
duration = d2-d1
print(type(duration))
duration

2022-09-23 09:25:18
2020-09-23 12:25:18
<class 'datetime.timedelta'>

datetime.timedelta(days=-730, seconds=10800)

# Datetime and Pandas Dataframe

In [19]:
import pandas as pd

url = pd.read_csv('http://bit.ly/uforeports')
url

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

In [ ]:
from google.colab import drive
drive.mount('/content/drive')