<a href="https://colab.research.google.com/github/Manojgharge07/DataScience-Mentorship-Python-Basic/blob/main/Python_Basics_17_Pandas_DateTime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with date and time using Pandas

In [ ]:
# create a dates dataframe

import pandas as pd

data = pd.date_range('1/1/2022', periods=7, freq='H')

data

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-01 01:00:00',
               '2022-01-01 02:00:00', '2022-01-01 03:00:00',
               '2022-01-01 04:00:00', '2022-01-01 05:00:00',
               '2022-01-01 06:00:00'],
              dtype='datetime64[ns]', freq='H')

In [ ]:
# create a dates dataframe

import pandas as pd

data  = pd.date_range('9/5/2022', periods = 10, freq = 'M')

data

DatetimeIndex(['2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31',
               '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30'],
              dtype='datetime64[ns]', freq='M')

In [ ]:
# create a dates dataframe

import pandas as pd
data = pd.date_range('2021/8/15',periods = 5, freq = 'd')
data

DatetimeIndex(['2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18',
               '2021-08-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# create a dates dataframe

import pandas as pd
data = pd.date_range('2018/8/15', periods = 5, freq = 'Y')
data

DatetimeIndex(['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31',
               '2022-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

Datetime features can be divided into two categories. The first one time moments in a period and second the time passed since a particular period. These features can be very useful to understand the patterns in the data.

Divide a given date into features –

pandas.Series.dt.year returns the year of the date time.

pandas.Series.dt.month returns the month of the date time.

pandas.Series.dt.day returns the day of the date time.

pandas.Series.dt.hour returns the hour of the date time.

pandas.Series.dt.minute returns the minute of the date time.

In [ ]:
#create date and time with data frame
import pandas as pd
rng = pd.DataFrame()

rng['date'] = pd.date_range('2012/4/6', periods=50, freq='D')

# Print the dates in dd-mm-yy format
print(rng[:7])

# Create features for year, month, day, hour, and minute
rng['year']= rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute

# Print the dates divided into features
rng.head(10)

        date
0 2012-04-06
1 2012-04-07
2 2012-04-08
3 2012-04-09
4 2012-04-10
5 2012-04-11
6 2012-04-12

        date  year  month  day  hour  minute
0 2012-04-06  2012      4    6     0       0
1 2012-04-07  2012      4    7     0       0
2 2012-04-08  2012      4    8     0       0
3 2012-04-09  2012      4    9     0       0
4 2012-04-10  2012      4   10     0       0
5 2012-04-11  2012      4   11     0       0
6 2012-04-12  2012      4   12     0       0
7 2012-04-13  2012      4   13     0       0
8 2012-04-14  2012      4   14     0       0
9 2012-04-15  2012      4   15     0       0

In [ ]:
#create date and time with data frame
import pandas as pd
rng = pd.DataFrame()

rng['date'] = pd.date_range('2012/4/6', periods=50, freq='Y')

# Print the dates in dd-mm-yy format
print(rng[:7])

# Create features for year, month, day, hour, and minute
rng['year']= rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute

# Print the dates divided into features
rng.head(10)

        date
0 2012-12-31
1 2013-12-31
2 2014-12-31
3 2015-12-31
4 2016-12-31
5 2017-12-31
6 2018-12-31

        date  year  month  day  hour  minute
0 2012-12-31  2012     12   31     0       0
1 2013-12-31  2013     12   31     0       0
2 2014-12-31  2014     12   31     0       0
3 2015-12-31  2015     12   31     0       0
4 2016-12-31  2016     12   31     0       0
5 2017-12-31  2017     12   31     0       0
6 2018-12-31  2018     12   31     0       0
7 2019-12-31  2019     12   31     0       0
8 2020-12-31  2020     12   31     0       0
9 2021-12-31  2021     12   31     0       0

In [ ]:
#create date and time with data frame
import pandas as pd
rng = pd.DataFrame()

rng['date'] = pd.date_range('2012/4/6', periods=50, freq='M')

# Print the dates in dd-mm-yy format
print(rng[:7])

# Create features for year, month, day, hour, and minute
rng['year']= rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute

# Print the dates divided into features
rng.head(10)

        date
0 2012-04-30
1 2012-05-31
2 2012-06-30
3 2012-07-31
4 2012-08-31
5 2012-09-30
6 2012-10-31

        date  year  month  day  hour  minute
0 2012-04-30  2012      4   30     0       0
1 2012-05-31  2012      5   31     0       0
2 2012-06-30  2012      6   30     0       0
3 2012-07-31  2012      7   31     0       0
4 2012-08-31  2012      8   31     0       0
5 2012-09-30  2012      9   30     0       0
6 2012-10-31  2012     10   31     0       0
7 2012-11-30  2012     11   30     0       0
8 2012-12-31  2012     12   31     0       0
9 2013-01-31  2013      1   31     0       0

In [ ]:
#4: To get the present time

from datetime import date

tdy = date.today()

print("Today's Date: ", tdy)

Today's Date:  2022-05-09

In [ ]:
#4: To get the present time

from datetime import date

tdy = date.today()

print("Today's Date: ", tdy)

# Yesterday date
yesterday = today - timedelta(days = 1)

print("Yesterday was: ", yesterday)

Today's Date:  2022-05-09

NameError: ignored

In [ ]:
#Current date in different formats
from datetime import date
tdy = date.today()

# dd/mm/YY
d1 = tdy.strftime('%d:%m:%y')
print('d1=', d1)

d1= 09:05:22

In [ ]:
# dd:mm:YY
d1 = tdy.strftime('%d:%m:%Y')
print('d1=', d1)

d1= 09:05:2022

In [ ]:
#month/day/year
d2 = tdy.strftime('%m/%d/%y')	
print('d2=',d2)

d2= 05/09/22

In [ ]:
#month-day-year
d3 = tdy.strftime('%M-%D-%Y')	
print('d3=',d3)

d3= 00-05/09/22-2022

In [ ]:
# dd:mm:YY
d4 = tdy.strftime('%d:%m:%y')
print('d4=', d4)

d4= 09:05:22

In [ ]:
# dd:mm:YY
d5 = tdy.strftime('%d:%b:%Y')
print('d5=', d5)

d5= 09:May:2022

## Timedelta
So far, we have seen how to create a DateTime object and how to format it. But sometimes, you might have to find the duration between two dates, which can be another very useful feature that you can derive from a dataset. This duration is, however, returned as a timedelta object.

In [ ]:
# timedelta : duration between dates
from datetime import datetime, time

d1 = datetime(2022,9,23,9,25,18)
d2 = datetime(2020,9,23,12,25,18)
print(d1)
print(d2)
duration = d2-d1
print(type(duration))
duration

2022-09-23 09:25:18
2020-09-23 12:25:18
<class 'datetime.timedelta'>

datetime.timedelta(days=-730, seconds=10800)

# Datetime and Pandas Dataframe

In [2]:
import pandas as pd

url = 'http://bit.ly/uforeports'

# read csv file
df = pd.read_csv(url)		
df

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

In [5]:
# Convert the Time column to datetime format
df['Time'] = pd.to_datetime(df.Time)

df.head(10)

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00
5,Valley City,NaN,DISK,ND,1934-09-15 15:30:00
6,Crater Lake,NaN,CIRCLE,CA,1935-06-15 00:00:00
7,Alma,NaN,DISK,MI,1936-07-15 00:00:00
8,Eklutna,NaN,CIGAR,AK,1936-10-15 17:00:00
9,Hubbard,NaN,CYLINDER,OR,1937-06-15 00:00:00

# Day first format
By default, to_datetime() will parse string with month first (MM/DD, MM DD, or MM-DD) format, and this arrangement is relatively unique in the United State.

In most of the rest of the world, the day is written first (DD/MM, DD MM, or DD-MM). If you would like Pandas to consider day first instead of month, you can set the argument dayfirst to True.

In [7]:
df = pd.DataFrame({'date': ['1/5/2022', '1/6/2022', '1/7/2022','1/8/2022'],
                   'value': [1, 2, 3, 4]})
df['date'] = pd.to_datetime(df['date'], dayfirst=True)
df

        date  value
0 2022-05-01      1
1 2022-06-01      2
2 2022-07-01      3
3 2022-08-01      4

# Custome format
By default, strings are parsed using the Pandas built-in parser from dateutil.parser.parse. Sometimes, your strings might be in a custom format, for example, YYYY-DD-MM HH:MM:SS. Pandas to_datetime() has an argument called format that allows you to pass a custom format:

In [11]:
df = pd.DataFrame({'date': ['2016-6-10 20:30:0', 
                            '2016-7-1 19:45:30', 
                            '2013-10-12 4:5:1'],
                   'value': [2, 3, 4]})
print(df)
print("*****************************")
df['date'] = pd.to_datetime(df['date'], format="%Y-%d-%m %H:%M:%S")
df

                date  value
0  2016-6-10 20:30:0      2
1  2016-7-1 19:45:30      3
2   2013-10-12 4:5:1      4
*****************************

                 date  value
0 2016-10-06 20:30:00      2
1 2016-01-07 19:45:30      3
2 2013-12-10 04:05:01      4

## Pandas Timestamp.replace

Pandas Timestamp.replace() function is used to replace the member values of the given Timestamp. The function implements datetime.replace, and it also handles nanoseconds.

In [14]:
#Timestamp.replace() function to replace the year value in the given Timestamp.

# importing pandas as pd
import pandas as pd

# Create the Timestamp object
ts = pd.Timestamp(year = 2018, month = 4, day =6,
				hour = 12, minute = 10, second = 5, tz = 'US/Central')

# Print the Timestamp object
print(ts)

2018-04-06 12:10:05-05:00

In [16]:
#Timestamp.replace() function to replace the current year in the object with 2019.

# replace year
ts.replace(year = 2022)

Timestamp('2022-04-06 12:10:05-0500', tz='US/Central')

In [17]:
#Timestamp.replace() function to replace the year, month and hour value in the given Timestamp.

# importing pandas as pd
import pandas as pd

# Create the Timestamp object
ts = pd.Timestamp(year = 2022, month = 8, day = 20,
				hour = 5, minute = 30, second = 49, tz = 'Europe/Berlin')

# Print the Timestamp object
print(ts)

2022-08-20 05:30:49+02:00

In [19]:
# replace year, month and hour value
ts.replace(year = 2022, month = 9, day = 23, hour = 1)

Timestamp('2022-09-23 01:30:49+0200', tz='Europe/Berlin')

# pandas.date_range() method

pandas.date_range() is one of the general functions in Pandas which is used to return a fixed frequency DatetimeIndex.

In [22]:
# importing pandas as pd
import pandas as pd

per1 = pd.date_range(start ='30-11-2010',
		end ='31-12-2010', freq ='10H')

for val in per1:
	print(val)

2010-11-30 00:00:00
2010-11-30 10:00:00
2010-11-30 20:00:00
2010-12-01 06:00:00
2010-12-01 16:00:00
2010-12-02 02:00:00
2010-12-02 12:00:00
2010-12-02 22:00:00
2010-12-03 08:00:00
2010-12-03 18:00:00
2010-12-04 04:00:00
2010-12-04 14:00:00
2010-12-05 00:00:00
2010-12-05 10:00:00
2010-12-05 20:00:00
2010-12-06 06:00:00
2010-12-06 16:00:00
2010-12-07 02:00:00
2010-12-07 12:00:00
2010-12-07 22:00:00
2010-12-08 08:00:00
2010-12-08 18:00:00
2010-12-09 04:00:00
2010-12-09 14:00:00
2010-12-10 00:00:00
2010-12-10 10:00:00
2010-12-10 20:00:00
2010-12-11 06:00:00
2010-12-11 16:00:00
2010-12-12 02:00:00
2010-12-12 12:00:00
2010-12-12 22:00:00
2010-12-13 08:00:00
2010-12-13 18:00:00
2010-12-14 04:00:00
2010-12-14 14:00:00
2010-12-15 00:00:00
2010-12-15 10:00:00
2010-12-15 20:00:00
2010-12-16 06:00:00
2010-12-16 16:00:00
2010-12-17 02:00:00
2010-12-17 12:00:00
2010-12-17 22:00:00
2010-12-18 08:00:00
2010-12-18 18:00:00
2010-12-19 04:00:00
2010-12-19 14:00:00
2010-12-20 00:00:00
2010-12-20 10:00:00
2010-12-20 20:00:00
2010-12-21 06:00:00
2010-12-21 16:00:00
2010-12-22 02:00:00
2010-12-22 12:00:00
2010-12-22 22:00:00
2010-12-23 08:00:00
2010-12-23 18:00:00
2010-12-24 04:00:00
2010-12-24 14:00:00
2010-12-25 00:00:00
2010-12-25 10:00:00
2010-12-25 20:00:00
2010-12-26 06:00:00
2010-12-26 16:00:00
2010-12-27 02:00:00
2010-12-27 12:00:00
2010-12-27 22:00:00
2010-12-28 08:00:00
2010-12-28 18:00:00
2010-12-29 04:00:00
2010-12-29 14:00:00
2010-12-30 00:00:00
2010-12-30 10:00:00
2010-12-30 20:00:00

In [23]:
# importing pandas as pd
import pandas as pd

d1 = pd.date_range(start ='1-1-2021',
		end ='8-01-2021', freq ='M')

d2 = pd.date_range(start ='31-1-2021',
		end ='11-01-2018', freq ='3M')

print(d1, '\n\n', d2)

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31'],
              dtype='datetime64[ns]', freq='M')

 DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31'], dtype='datetime64[ns]', freq='3M')

# **Usecase**

In [24]:
url='https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv'
data = pd.read_csv(url,sep=",")

In [25]:
data.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

## Converting data to correct format
when working with time series, it becomes much easier if we have the Datecolumn represented as a Timestamp. Timestamp is the main pandas data structures for working with dates and times. The pandas function to_datetime() can help us convert a string to a proper date/time format.

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4383 entries, 0 to 4382
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4383 non-null   object
 1   Consumption  4383 non-null   float64
 2   Wind         2920 non-null   float64
 3   Solar        2188 non-null   float64
 4   Wind+Solar   2187 non-null   float64
dtypes: float64(4), object(1)
memory usage: 171.3+ KB

In [27]:
# to explicitly convert the date column to type DATETIME
data['Date'] = pd.to_datetime(data['Date'])
data.dtypes

Date           datetime64[ns]
Consumption           float64
Wind                  float64
Solar                 float64
Wind+Solar            float64
dtype: object

We will now go ahead and set this column as the index for the dataframe using the set_index() call.

In [28]:
data = data.set_index('Date')
data

            Consumption     Wind   Solar  Wind+Solar
Date
2006-01-01   1069.18400      NaN     NaN         NaN
2006-01-02   1380.52100      NaN     NaN         NaN
2006-01-03   1442.53300      NaN     NaN         NaN
2006-01-04   1457.21700      NaN     NaN         NaN
2006-01-05   1477.13100      NaN     NaN         NaN
...                 ...      ...     ...         ...
2017-12-27   1263.94091  394.507  16.530     411.037
2017-12-28   1299.86398  506.424  14.162     520.586
2017-12-29   1295.08753  584.277  29.854     614.131
2017-12-30   1215.44897  721.247   7.467     728.714
2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 4 columns]

In [29]:
data.index

DatetimeIndex(['2006-01-01', '2006-01-02', '2006-01-03', '2006-01-04',
               '2006-01-05', '2006-01-06', '2006-01-07', '2006-01-08',
               '2006-01-09', '2006-01-10',
               ...
               '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25',
               '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29',
               '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', name='Date', length=4383, freq=None)

An interesting thing to note here is thatfreq = None. What this means is that it is not known if data is collected by the hour, by day, my minute, etc. However, just by eyeballing the indices, we can see that it looks like the data was collected by the day. It would be nice to explicitly put this info into the data frame as well and we will be seeing how to do this shortly! But first a quick detour…

### What if I want to set Date and Time, both as the index?
You will come across datasets where the Date and Time were recorded as separate columns at the time of data collection. A simple yet neat trick to set them as data index is:

Concatenate the two columns but with a space between them.

The space is important!!

Convert this concatenated column to a Timestamp using to_datetime().

Set this concatenated column as the index using set_index().

## Missing value imputations
As we mentioned previously, quick glance at the data suggests it was collected at an interval of 24 hours (or a day). However, the data reflects freq = None. We can correct it as follows:

In [32]:
data_freq = data.asfreq('D')
data_freq

            Consumption     Wind   Solar  Wind+Solar
Date
2006-01-01   1069.18400      NaN     NaN         NaN
2006-01-02   1380.52100      NaN     NaN         NaN
2006-01-03   1442.53300      NaN     NaN         NaN
2006-01-04   1457.21700      NaN     NaN         NaN
2006-01-05   1477.13100      NaN     NaN         NaN
...                 ...      ...     ...         ...
2017-12-27   1263.94091  394.507  16.530     411.037
2017-12-28   1299.86398  506.424  14.162     520.586
2017-12-29   1295.08753  584.277  29.854     614.131
2017-12-30   1215.44897  721.247   7.467     728.714
2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 4 columns]

Note: Available frequencies in pandas include hourly (‘H’), calendar daily (‘D’), business daily (‘B’), weekly (‘W’), monthly (‘M’), quarterly (‘Q’), annual (‘A’), and many others.

What we have done above is say “hey, the data was collected at a day’s interval and hence each row is a new day”. So technically, we should have values for power consumption, solar production, wind production, etc for all days from 2006–2017.

In case, some days are missing in our data, the above code is going to insert empty rows and in each of these rows the values corresponding to the columns would be allNaNs. In order to avoid these NaN values, we can tell as.freq function how to fill these null values

In [33]:
data_freq = data.asfreq('D', method = 'ffill')
data_freq

            Consumption     Wind   Solar  Wind+Solar
Date
2006-01-01   1069.18400      NaN     NaN         NaN
2006-01-02   1380.52100      NaN     NaN         NaN
2006-01-03   1442.53300      NaN     NaN         NaN
2006-01-04   1457.21700      NaN     NaN         NaN
2006-01-05   1477.13100      NaN     NaN         NaN
...                 ...      ...     ...         ...
2017-12-27   1263.94091  394.507  16.530     411.037
2017-12-28   1299.86398  506.424  14.162     520.586
2017-12-29   1295.08753  584.277  29.854     614.131
2017-12-30   1215.44897  721.247   7.467     728.714
2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 4 columns]