<a href="https://colab.research.google.com/github/Manojgharge07/DataScience-Mentorship-Python-Basic/blob/main/Python_Basic_8Set%20data%20type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SET - Data Structure**

If we want to represent a group of unique values as a single entity then we should go for set.

Duplicates are not allowed.

Insertion order is not preserved.But we can sort the elements.

Indexing and slicing not allowed for the set.

Heterogeneous elements are allowed.

Set objects are mutable i.e once we creates set object we can perform any changes in that object based on our requirement.

We can represent set elements within curly braces and with comma seperation
We can apply mathematical operations like union, intersection, difference etc on set objects.

In [ ]:
#set
s={1,2,3,4,5}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5}

In [ ]:
# Heterogeneous items allowed
s={10,20,30,40,'a',"python",(11,12,13,14)}
print(s)
print(type(s))

{'python', 'a', 40, 10, 20, (11, 12, 13, 14), 30}
<class 'set'>

In [ ]:
# we can create set  using list, list to set fun x = set(s)
s= [10,20,30,40,50]

x = set(s)
print(x)
print(type(s))
print(type(x))

{40, 10, 50, 20, 30}
<class 'list'>
<class 'set'>

In [ ]:
s=set(range(6))
print(s)

{0, 1, 2, 3, 4, 5}

In [ ]:
s=set(range(6))
s

{0, 1, 2, 3, 4, 5}

In [ ]:
 #In set duplicate function are not allowed.
s= {10,20,20,30,40,10,40}
s

{10, 20, 30, 40}

In [ ]:
#in set minus function are allowed:
s= {1,2,-3,4,-5,-1}
s

{-5, -3, -1, 1, 2, 4}

In [ ]:
#we use minus in range type we get output od empty set:
s = set(range(-1))
print(s)

set()

# **Important Functions of Set:**

In [ ]:
#add(x): add item a to the set:
a = {10,20,30,40,50,60}
a.add(35)
print(a)

{35, 40, 10, 50, 20, 60, 30}

In [ ]:
#add(-x): add item a to the set:
a = {10,20,30,40,50,60}
a.add(-29)
print(a)

{-29, 40, 10, 50, 20, 60, 30}

In [ ]:
#update : update multiple items in set:
a = {3,6,9,12,15}
b = {12,15,18,21,24}
a.update(b) #Duplicates not allowed.
a

{3, 6, 9, 12, 15, 18, 21, 24}

Q) What is the difference between add() and update() Functions in Set?

We can use add() to add individual item to the Set,where as we can use update() function to add multiple items to Set.

add() function can take only one argument where as update() function can take any number of arguments.

In [ ]:
#copy(): returns copy of the set(cloning)
x = {5,10,15,20,25}
y = x.copy()
print(x)
print(y)

{5, 10, 15, 20, 25}
{20, 5, 25, 10, 15}

In [ ]:
# pop(): It removes and returns some random element from the set 
x = [310,321,329,345,200,231] 
y = set(s)                 #converting list into set
y

{200, 231, 310, 321, 329, 345}

In [ ]:
y.pop() #To remove any random element

x = {200,210,220,230}
y = x.pop()
print(y)

200

In [ ]:
y

200

In [ ]:
#remove(x):removes specified item from the set
s = {100, 110,120,130,140,150}
t = s.remove(130)
print(s)

{100, 140, 110, 150, 120}

In [ ]:
t = s.remove(110)
print(s)

{100, 140, 120}

In [ ]:
t = s.remove(180) #Use value which is not in set get keyerror:
print(s)

KeyError: ignored

In [ ]:
#discard(): It removes specified element from the space
# If specified error not present in the set then it will not throw error
a = {20,40,60,250,80,100}

a.discard(250)
a

{20, 40, 60, 80, 100}

In [ ]:
a.discard(20)
a

{40, 60, 80, 100}

In [ ]:
a.discard(200) #if function n0t in set:
a

{40, 60, 80, 100}

In [ ]:
#clear(): to remove all the elements from the set:
x = {2,4,6,8,10,12,14,16,18}
x.clear()
x

set()

# **IMPORTANT CONCEPTS**

Mathematical Operations on the Set:

In [ ]:
# 1. union() :
# Syntax: x.union(y) OR x|y: Return all the elements present in both sets
x = {12,34,56,32,67,89}
y = {21,43,32,66,98,67}
x.union(y)

{12, 21, 32, 34, 43, 56, 66, 67, 89, 98}

In [ ]:
x|y

{12, 21, 32, 34, 43, 56, 66, 67, 89, 98}

In [ ]:
x = {12,34,56,32,67,89,44,58}
y = {21,43,32,66,98,67,40}
print(x.union(y))
print(y.union(x))
print(x|y)
print(y|x)

{32, 34, 67, 66, 98, 40, 43, 12, 44, 21, 56, 89, 58}
{32, 66, 98, 67, 34, 40, 43, 12, 44, 21, 56, 89, 58}
{32, 34, 67, 66, 98, 40, 43, 12, 44, 21, 56, 89, 58}
{32, 66, 98, 67, 34, 40, 43, 12, 44, 21, 56, 89, 58}

In [ ]:
# 2. intersection():
#Syntax: x.intersection(y) or x&y
#Returns common elements present in both x and y:
x = {10,15,20,25,30,35,40}
y = {20,40,50,55,60,35,70}
x.intersection(y)

{20, 35, 40}

In [ ]:
m = {20,30,40,50,60}
p = {40,60,70,50,80}
print(m.intersection(p))

m&p

{40, 50, 60}

{40, 50, 60}

In [ ]:
# 3. difference():
# Syntax: x.difference(y) OR x-y.
#Returns the elements present in x but not in y.
x = {10,15,36,965,3,33,45}
y = {12,30,36,33,45}
x.difference(y)

{3, 10, 15, 965}

In [ ]:
x = {10,15,36,965,3,33,45}
y = {12,30,36,33,45}

x-y

{3, 10, 15, 965}

In [ ]:
x = {10,15,36,965,3,33,45}
y = {12,30,36,33,45}

y-x

{12, 30}

In [ ]:
#4. symmetric_difference():
# x.symmetric_difference(y) OR x^y
#Returns elements present in either x OR y but not in both.
x = {10,23,54,67,38,78,'Python',0}
y = {12,36,0,'is','while',56,76,67}

x.difference(y)

{10, 23, 38, 54, 78, 'Python'}

In [ ]:
x = {10,23,54,67,38,78,'Python',0}
y = {12,36,0,'is','while',56,76,67}

y.difference(x)

{12, 36, 56, 76, 'is', 'while'}

In [ ]:
x^y

{10, 12, 23, 36, 38, 54, 56, 76, 78, 'Python', 'is', 'while'}

# **membership operator (in , not in)**

In [ ]:
x = {10,15,36,965,3,33,45}
36 in x

True

In [ ]:
x = {10,15,36,965,3,33,45}
54 in x

False

In [ ]:
a = set("world economy")
print(a)
print("m" in a)
print(" " in a) #space is required in both colon.
"a" in a

{'r', 'm', 'e', 'n', 'w', 'l', 'y', 'd', ' ', 'o', 'c'}
True
True

False

# **Set Comprehension:**

In [ ]:
#Set comprehension is possible:
x = {s*s for s in range(7)}
print(x)

{0, 1, 4, 36, 9, 16, 25}

In [ ]:
x = {a*a for a in range(0,101,10)}
print(x)

{0, 1600, 6400, 900, 100, 2500, 4900, 8100, 400, 3600, 10000}

# Q) Write a Program to eliminate Duplicates Present in the List?

In [ ]:
list1 = [20,40,10,50,70,30,50,30,10] #duplicates numbers present in list1
list2 = []    #empty list 
for i in list1:
  if i not in list2:
    list2.append(i)     #list.append() items in list
print(list2)

[20, 40, 10, 50, 70, 30]

In [ ]:
x = [10,20,30,40,10,30,40,] #if list change in to set , duplicates automatically eliminate

y = set(x)
print(x)
y

[10, 20, 30, 40, 10, 30, 40]

{10, 20, 30, 40}

# Q) Write a Program to Print different Vowels Present in the given Word?(Using intersection

In [ ]:
# Q) Write a Program to Print different Vowels Present in the given Word?/string(Using intersection method
a = "airthmatic operator"
b = ['a','e','i','o','u']
for i in a:
  if i in b:
    print((i),end=' ')

a i a i o e a o

# UTF - **8**

UTF-8 is one of the most commonly used encodings, and Python often defaults to using it. UTF stands for “Unicode Transformation Format”, and the ‘8’ means that 8-bit values are used in the encoding.

UTF-8 uses the following rules:

If the code point is < 128, it’s represented by the corresponding byte value.

If the code point is >= 128, it’s turned into a sequence of two, three, or four bytes, where each byte of the sequence is between 128 and 255.

This is specified in the meta tag

*Unicode is a characterset, UTF-8 is encoding

**Unicode is s list of characters with unique decimal number or code point.(A-Z),(0,9),(+,-,=,%)

**(FOR EXAMPLE A=65,B=66,C=67)

**This list of decimal numbers represent the string "hello";h:104 e:101 l:108 l:108 o:111

**UTF-8 encoding will store "hello" like this(binary);h:01101000 e:01100101 l:01101100 l:01101100 e:01101111

***ISO-8859-1 was the default character in HTML4.This charset suppoeted 256 different character coder.HTML4 supported UTF-8

***(FOE EXAMPLE=A=65,B=66,C=67)

***UTF-8 continues from the value 256 with more than 10000 different characters