<a href="https://colab.research.google.com/github/Manojgharge07/DataScience-Mentorship-Python-Basic/blob/main/Python_Basic_5String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String**

Any sequence of characters within either single quotes or double quotes is considered as a String.

We can define multi-line String literals by using triple single or double quotes.

We can also use triple quotes to use single quotes or double quotes as symbol inside String literal

In [ ]:
#String operator with using single, double & tripple colon:
s="Python is very easy Langauge."
s1="""It is very easy to understand"""
s2="""This is 'Data science' course"""
print(s)
print(s1)
s2

Python is very easy Langauge.
It is very easy to understand

"This is 'Data science' course"

# How to access characters of a string?

We can access characters of a string by using the following ways.

By using index

By using slice operator

In [ ]:
# 1. Accessing characters by using index:
s1[3]

'i'

In [ ]:
# 2. accessing characters by using index:
s="Python is very easy Langauge"
s[5]

'n'

In [ ]:
s2[9]

'D'

In [ ]:
s1[-3]

'a'

In [ ]:
# 2. Accessing characters by using slice operator
# slice operator s[Begin:End:Step]
s="This is 'Data science' course"
s[1:10:1]

"his is 'D"

In [ ]:
s1[2:12:1]

' is very e'

In [ ]:
s[::]

"This is 'Data science' course"

In [ ]:
s1[::-1]

'dnatsrednu ot ysae yrev si tI'

In [ ]:
s2[::-2]

"ero enisaa's iT"

In [ ]:
s2[::2]

"Ti s'aasine ore"

In [ ]:
# Note: Slice operator never raises IndexError
s[1200:10:1]

''

In [ ]:
s[1200:10:-1]

"esruoc 'ecneics at"

In [ ]:
#len() in-built function:
len(s)

29

In [ ]:
len(s1)

29

In [ ]:
#Write a Program to access each Character of String in Forward and Backward Direction by using while Loop?
s="This is 'Data science' course"
d=len(s)
i=0
print("Forword Direction")
while i<d:
  print(s[i],end='')
  i+=1

i=-1
print("Backword Direction")
while i>=-d:
  print(s[i],end='')
  i-=1

Forword Direction
This is 'Data science' courseBackword Direction
esruoc 'ecneics ataD' si sihT

In [ ]:
#Write a Program to access each Character of String in Forward and Backward Direction by using while Loop?
a = 'python is easy langauge'
b = len(a)
s = -1
print('backword direction')
while s>=-b:
  print(a[s], end='')
  s=s-1
print(' backword direction ')

s=0
print('forword direction')
while s<b:
  print(a[s], end='')
  s+=1
print(' forword direction ')

backword direction
eguagnal ysae si nohtyp backword direction
forword direction
python is easy langauge forword direction

In [ ]:
#Checking Membership:
#We can check whether the character or string is the member of another string or not by using in and not in operators:
s="Data Science"
'a' in s

True

In [ ]:
#Checking Membership:
#We can check whether the character or string is the member of another string or not by using in and not in operators:
s = "python langauge"
'v' not in s

True

In [ ]:
s="Python Langauge"
"P" not in s

False

In [ ]:
#Comparison of Strings
#We can use comparison operators (<, <=, >, >=) and equality operators (==, !=) for strings:
s=input("Enter First String :")
d=input("Enter Second String :")
if s==d:
  print("Both Strings are equal")
elif s>d:
  print("First string is greater than second string")
else:
  print("First string is less than second string")

Enter First String :z
Enter Second String :Z
First string is greater than second string

In [ ]:
#Comparison of Strings
#We can use comparison operators (<, <=, >, >=) and equality operators (==, !=) for strings:
m=input("Enter First String :")
n=input("Enter Second String :")
if m==n:
  print("Both strings are equal")
elif m>n:
  print("First string is greater than second string")
else:
  print("First string is less than second string")

Enter First String :lenovo
Enter Second String :Dell
First string is greater than second string

In [ ]:
#Comparison of Strings
#We can use comparison operators (<, <=, >, >=) and equality operators (==, !=) for strings:
m=input("Enter First String :")
n=input("Enter Second String :")
if m!=n:
  print("Both strings are equal")
elif m>n:
  print("First string is greater than second string")
else:
  print("First string is less than second string")

Enter First String :mobile
Enter Second String :charge
Both strings are equal

# **Removing Spaces from the String:**

1)rstrip()-->To remove spaces at right hand side.

2) lstrip()--> To remove spaces at left hand side.

3) strip()-->To remove spaces both sides.

In [ ]:
#Removing Spaces from the String:
vehicle=input("Enter Vehicle Name :")
cvehicle=vehicle.strip()   
if cvehicle== "Ertiga":
  print("This company is Suzuki")
elif cvehicle== "Endeavour":
  print("This company is Ford")
elif cvehicle== "Harrier":
  print("This company is Tata")
else:
  print("The Vehicle is not in list")

Enter Vehicle Name :         Ertiga
This company is Suzuki

In [ ]:
#Removing Spaces from the String:
vehicle=input("Enter Vehicle Name :")
cvehicle=vehicle.strip()
if cvehicle== "Ertiga":
  print("This company is Suzuki")
elif cvehicle== "Endeavour":
  print("This company is Ford")
elif cvehicle== "Harrier":
  print("This company is Tata")
else:
  print("The Vehicle is not in list")

Enter Vehicle Name :Swift
The Vehicle is not in list

In [ ]:
s = ' Data Science                '
s.strip()

'Data Science'

In [ ]:
m="     Scientist                "
m.rstrip()

'     Scientist'

In [ ]:
n=" learner "
n.lstrip()

'learner '

# **Finding Substrings:**

We can use the following 4 methods

For forward direction:

1) find()

2) index()

For backward direction:

1) rfind()

2) rindex()

1) find()

In [ ]:
#Finding Substrings:
# find(): Returns index of first occurrence of the given substring. If it is not available then we will
# get -1.
s="Data structure"
s.find("structure")

5

In [ ]:
# syntax: s.find(substring,bEgin,end)
s.find("t", 3)

6

In [ ]:
s="data science is easy langauge to understand"
s.find("m")

-1

In [ ]:
s.index('y')

19

In [ ]:
# we will get a error if the substring is not available:
s.index('is')

13

In [ ]:
# to display all Positions of Substring in a given Main String:
s=input("Enter main string:")
subs=input("Enter sub string:")
flag=False
pos=-1
n=len(s)
while True:
  pos=s.find(subs,pos+1,n)
  if pos==-1:
    break
  print("Found at position",pos)
  flag=True
if flag==False:
  print("Not Found")

Enter main string:aaaasaassdasddsadasdadddssdsasdasd
Enter sub string:z
Not Found

In [ ]:
#Count substring in the given String:
m="asdasdasedasedddseasfdesaadd"
s.count('s')

11

In [ ]:
#Replacing a String with another String:
s="data science is difficult langauge to understand"
s1= s.replace("difficult","easy")
s2= s.replace("data science is difficult langauge to", "sql")
print(s1)
print(s2)

data science is easy langauge to understand
sql understand

In [ ]:
#Splitting of Strings:
s="19-04-202212-12"
m=s.split('-')
for x in m:
  print(x,end=" ")

19 04 202212 12

In [ ]:
m

['19', '04', '202212', '12']

In [ ]:
x

'2022'

In [ ]:
s

'19-04-202212-12'

In [ ]:
#Joining Of Strings:
list1= ["data","science","learner"]
"85".join(list1) #use any function + * &

'data85science85learner'

# **Changing the case of a string:**

upper()-->To convert all characters to upper case.

lower()-->To convert all characters to lower case.

swapcase() --> Converts all lower case characters to upper case and all upper case characters to lower case

title() --> To convert all character to title case. i.e first character in every word should be upper case and all remaining characters should be in lower case.

capitalize() --> Only first character will be converted to upper case and all remaining characters can be converted to lower case.

In [ ]:
#Changing the case of a string:
s="Data Science is difficult Langauge to Understand"
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.capitalize())

DATA SCIENCE IS DIFFICULT LANGAUGE TO UNDERSTAND
data science is difficult langauge to understand
dATA sCIENCE IS DIFFICULT lANGAUGE TO uNDERSTAND
Data Science Is Difficult Langauge To Understand
Data science is difficult langauge to understand

# Checking Starting and Ending Part of the String:

Python contains the following methods for this purpose.

s.startswith(substring)

s.endswith(substring)

In [ ]:
#Checking Starting and Ending Part of the String:
m="Data Science is difficult Langauge to Understand"
print(m.startswith("Data"))
print(m.endswith('Langauge'))
print(m.startswith("Science"))
print(m.endswith('Understand'))

True
False
False
True

# **To Check Type of Characters Present in a String:**

Python contains the following methods for this purpose.

isalnum(): Returns True if all characters are alphanumeric( a to z , A to Z ,0 to9 ).

isalpha(): Returns True if all characters are only alphabet symbols(a to z,A to Z)

isdigit(): Returns True if all characters are digits only( 0 to 9)

islower(): Returns True if all characters are lower case alphabet symbols

isupper(): Returns True if all characters are upper case aplhabet symbols

istitle(): Returns True if string is in title case

isspace(): Returns True if string contains only spaces

In [ ]:
#To Check Type of Characters Present in a String:
print("manojgharge07" .isalnum())

True

In [ ]:
print("Manojgharge07" .isalpha())

False

In [ ]:
print("MANOJGHARGE07" .isalnum())

True

In [ ]:
print("manojgharge07" .isdigit())

False

In [ ]:
print("07" .isdigit())

True

In [ ]:
print('Abc'.islower())

False

In [ ]:
print('abc'.islower())

True

In [ ]:
print("MANOJGHaRGE07" .isupper())

False

In [ ]:
print("MANOJGHARGE07" .istitle())

False

In [ ]:
print("Manoj Gharge07" .istitle())

True

In [ ]:
print("  " .isspace())

True

In [ ]:
print(" MANOJGHARGE07 " .isspace())

False

In [ ]:
print(" " .isspace())

True

In [ ]:
#Formatting the Strings:
#We can format the strings with variable values by using replacement operator {} and format() method:
name='Manoj'
salary=10000
age=28

print("{}'s salary is {} and his age is{}".format(name,salary,age))
print("{0}'s salary is {1} and his age is {2}".format(name,salary,age))
print("{a}'s salary is {b} and his age is {c}".format(a=name,b=salary,c=age))

Manoj's salary is 10000 and his age is28
Manoj's salary is 10000 and his age is 28
Manoj's salary is 10000 and his age is 28

In [ ]:
#Formatting the Strings:
#We can format the strings with variable values by using replacement operator {} and format() method:
name='Manoj'
salary=10000
age=28
print("{}'s salary is {} and his age is{}".format(name,salary,age))
print("{0}'s salary is {1} and his age is {2}".format(name,salary,age))
print("{a}'s salary is {b} and his age is {c}".format(a=name,b=salary,c=age))

Manoj's salary is 10000 and his age is28
Manoj's salary is 10000 and his age is 28
Manoj's salary is 10000 and his age is 28

In [ ]:
#a Program to Reverse the given String:
a=input("Enter any String :")
print(a[::-1])

Enter any String :Manoj Gharge
egrahG jonaM

In [ ]:
s= 'science'
''.join(reversed(s))

'ecneics'

In [ ]:
#Program to Reverse Order of Words
#Input: Learning Python is very Easy
#Output: Easy Very is Python Learning:
m="Data Science is difficult Langauge to Understand"
l=m.split()
l1=[]
i=len(l)-1
while i>=0:
  l1.append(l[i])
  i=i-1
output=' '.join(l1)
print(output)

Understand to Langauge difficult is Science Data

In [ ]:
#a Program to Remove Duplicate Characters from the given Input String:
s=input("Enter any String :")
l=[]
for x in s:
  if x not in l:
     l.append(x)
t=' '.join(l)
print(t)

Enter any String :aasdffgddfhhvcvbjf
a s d f g h v c b j

In [ ]:
#a Program to find the Number of Occurrences of each Character present in the given String:
s=input("Enter Some String:")
d={}
for x in s:
  if x in d.keys():
     d[x]=d[x]+1
  else:
     d[x]=1
for k,v in d.items():
   print("{} = {} Times".format(k,v))

Enter Some String:mmmnnnoooopppppo
m = 3 Times
n = 3 Times
o = 5 Times
p = 5 Times

In [ ]:
s="aaasssdddddffffggggzzzzhhhh"
f={}
for x in s:
  if x in f.keys():
     f[x]=f[x]+1
  else:
     f[x]=1

In [ ]:
f

{'a': 3, 'd': 5, 'f': 4, 'g': 4, 'h': 4, 's': 3, 'z': 4}