<a href="https://colab.research.google.com/github/Manojgharge07/DataScience-Mentorship-Python-Basic/blob/main/Python_Basic_4Flow%20control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Conditional Statements
#If condition is true then statements will be executed:
x = input("Enter Name:")

if x=="Virat":
  print("To say Hello Everyone!")
  print("Good morning")
else:
  print("I am cricketer")

Enter Name:Virat
To say Hello Everyone!
Good morning

In [ ]:
#If condition is true then statements will be executed.
x = input("Enter Name :")

if name=="manoj":
  print("gharge")
  print("vadgaon")

Enter Name :manoj
gharge
vadgaon

In [ ]:
# Write a Program to find Biggest of given 2 Numbers from the Commad Prompt?
n1 = int(input("Enter First Number :"))
n2 = int(input("Enter Second Number :"))

if n1>n2:
  print("Biggest Number is:" ,n1)
else:
  print("Biggest Number is :" ,n2)

Enter First Number :24
Enter Second Number :34
Biggest Number is : 34

In [ ]:
# Write a Program to find Biggest of given 3 Numbers?
n1 = int(input("Enter First Number :"))
n2 = int(input("Enter Second Number :"))
n3 = int(input("Enter Third Number :"))

if n1>n2 and n1>n3:
  print("Biggest Number is:" ,n1)
elif n2>n1 and n2>n3:   
  print("Biggest Number is:" ,n2)
else:
  print("Biggest Number is:" ,n3)

Enter First Number :20
Enter Second Number :22
Enter Third Number :18
Biggest Number is: 22

In [ ]:
# Write a Program to find Smallest of given 2 Numbers?
n1 = int(input("Enter First Number :"))
n2 = int(input("Enter Second Number :"))
if n1<n2:
  print("Smallest Number Is : " ,n1)
else:
  print("Smallest Number Is : " ,n2)

Enter First Number :30
Enter Second Number :22
Smallest Number Is :  22

In [ ]:
# Write a Program to find Smallest of given 3 Numbers?
n1 = int(input("Enter First Number : "))
n2 = int(input("Enter Second Number : "))
n3 = int(input("Enter Third Number : "))
if n1<n2 and n1<n3:
  print("Smallest Number is : " ,n1)
elif n2<n3 and n2<n1:
  print("Smallest number is : " ,n2)
else:
  print("smallest Number is : " ,n3)

Enter First Number : 76
Enter Second Number : 34
Enter Third Number : 42
Smallest number is :  34

In [ ]:
#Write a program to check whether the given number is even or odd?
x=int(input("Enter First Number :"))

if x%2==0:
  print("This is even number" ,x)
else:
  print("This is odd number" ,x)

Enter First Number :45
This is odd number 45

In [ ]:
# To print characters present in the given string:
x = "mathematics"
for y in x:
  print(y)

m
a
t
h
e
m
a
t
i
c
s

In [ ]:
# To print characters present in the given string:
m = "data scientist"
for n in  m:
  print(n, end= ' ')

d a t a   s c i e n t i s t

In [ ]:
# To print Success 10 times:
for x in range(12):
  print("Success")

Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success

In [ ]:
# To display odd numbers from 0 to 29:
for i in range (30):
  if (i%2 !=0):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [ ]:
# To display odd numbers from 0 to 15:
for m in range(16):
  if (m%2==0):
    print(m)

0
2
4
6
8
10
12
14

In [ ]:
# To display numbers from 15 to 1 in descending order:
for a in range(15, 0, -1):
  print(a)

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
# To print sum of numbers presenst inside list
a =eval(input("Enter List : "))
sum=0
for x in a:
 sum=sum+x;
print("The Sum=",sum)

Enter List : 12, 13,14,15
The Sum= 54

In [ ]:
#2) While Loop:
# To print numbers from 1 to 15 by using while loop:
m = 1
while m<=15:
  print(m)
  m=m+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
# To print even numbers from 2 to 16 by using while loop:
a = 2
while a<=16:
  a+=2
  print(a)

4
6
8
10
12
14
16
18

In [ ]:
# To display the sum of first n numbers:
n=int(input("Enter number: "))
sum=0
i=1
while i<=n:
  sum=sum+i
  i=i+1
print("The sum of first" ,n, "number is:" ,sum)

Enter number: 7
The sum of first 7 number is: 28

In [ ]:
# To display the sum of first n numbers:
n=int(input("Enter Number :" ))
sum=0
a=1
while a<=n:
  sum=sum+a
  a=a+1
print("The Sum of first" ,n, "number is :" ,sum)

Enter Number :4
The Sum of first 4 number is : 10

In [ ]:
#Nested Loop:
for m in range(5):
  for n in range(5):
    print("m" ,m, "n" ,n )

m 0 n 0
m 0 n 1
m 0 n 2
m 0 n 3
m 0 n 4
m 1 n 0
m 1 n 1
m 1 n 2
m 1 n 3
m 1 n 4
m 2 n 0
m 2 n 1
m 2 n 2
m 2 n 3
m 2 n 4
m 3 n 0
m 3 n 1
m 3 n 2
m 3 n 3
m 3 n 4
m 4 n 0
m 4 n 1
m 4 n 2
m 4 n 3
m 4 n 4

In [ ]:
# a Program to dispaly *'s in Right Angled Triangled Form:
x=int(input("Enter number of rows : "))

for i in range(0,x):
  for j in range(0,i+1):
    print("*" ,end='') 
  print()

Enter number of rows : 7
*
**
***
****
*****
******
*******

In [ ]:
# for downwoed side:
x=int(input("Number of rows : "))
for i in range(x+1, 0, -1):
  for j in range(0,i):
    print("*" ,end='')
  print()

Number of rows : 5
******
*****
****
***
**
*

In [ ]:
#break statement:
for i in range(5,20):
  if i==15:
    break
  print(i)

5
6
7
8
9
10
11
12
13
14

In [ ]:
#using break statement:
x=eval(input("Enters cars price: "))
for i in x:
  if i>=500:
    break
  print("Average Budjet" ,i)
print()

Enters cars price: 200, 150,350, 400, 650, 700, 300
Average Budjet 200
Average Budjet 150
Average Budjet 350
Average Budjet 400

In [ ]:
#continue statement:
x= eval(input("enter your order list:="))
for i in x:
  if i>=70:
    continue               
  print("your %d burgers will be deliver in 30 mins "%(i))

enter your order list:=40, 50, 20, 80, 100, 55
your 40 burgers will be deliver in 30 mins
your 50 burgers will be deliver in 30 mins
your 20 burgers will be deliver in 30 mins
your 55 burgers will be deliver in 30 mins

In [ ]:
#else:
x = [20,86,565,598,765,85,249,465]
for i in x:
  if i>=500:
    print("I dont have this items",i)
    continue
  else:
    print(i)

20
86
I dont have this items 565
I dont have this items 598
I dont have this items 765
85
249
465

In [ ]:
#pass statement:
for i in range(200,300):
  if i%4==0:
    print(i)
  else:
  pass

IndentationError: ignored

In [ ]:
for i in range(100,200):
  if i%7==0:
    print(i)
  else:
    pass

105
112
119
126
133
140
147
154
161
168
175
182
189
196